/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
    padding-top:10px;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

/* END OF CSS RESET ========================================= */


/* GENREAL STYLES =========================================== */
body{
    background-image: url('images/sky.jpg');
    background-repeat:no-repeat;
    background-position:center top;
    background-color: #3763AF;
    background-size: auto;
    padding-top: 0;
    color: dimgray;
    font-family: 'Arial', sans-serif;
}
.roundedcorners{
    border-radius: 10px;
    -moz-border-radius: 10px;
}
h1{
    font-size: 300%;
    color: #F89938;
    font-family: 'Helvetica', 'Century Gothic', sans-serif;
    font-weight: 100;
}
h2{
    font-weight: bold;
}
.canvas{
    width: 903px;
    height: 770px;
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;
    background: white;
}
.content{
    width: 903px;
    height: 703px;
}
.content p{
    line-height: 150%;
    font-size: 95%;
}
.content ul{
    line-height: 150%;
    font-size: 95%;
    position: relative;
    left: 30px;
    width: 400px;
}
.section1{
    padding-top: 28px;
    width: 903px;
    height: 296px;
}
.section2{
    width: 430px;
    float: left;
}
.section3{
    width: 430px;
    float: right;
}
.section4{
    width: 215px;
    height: 190px;
    float: left;
    text-align: center;
}
.footer{
    width: 903px;
    height: 67px;
}
nav{
    width: 903px;
    height: 48px;
}
.button{
    position: relative;
    width: 179px;
    height: 28px;
    padding-top: 10px;
    background: #022968;
    float: left;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    color: white;
    transition: background 400ms;
    -moz-transition: background 400ms; /* Firefox 4 */
    -webkit-transition: background 400ms; /* Safari and Chrome */
    -o-transition: background 400ms; /* Opera */
}
#leftbutton{
    margin-left: 0;
    border-radius: 10px 0 0 0;
    -moz-border-radius: 10px 0 0 0;
}
#rightbutton{
    margin-right: 0;
    border-radius: 0 10px 0 0;
    -moz-border-radius: 0 10px 0 0;
}
.buttonhighlight{
    position: relative;
    width: 0;
    left: 89px;
    height: 6px;
    margin-top: 16px;
    background: #F47920;
    transition: left 400ms, width 400ms;
    -moz-transition: left 400ms, width 400ms; /* Firefox 4 */
    -webkit-transition: left 400ms, width 400ms; /* Safari and Chrome */
    -o-transition: left 400ms, width 400ms; /* Opera */
}
.buttonselector{
    position: relative;
    top: 4px;
    width: 179px;
    height: 6px;
    background: #F47920;
    float: left;
    transition: left 400ms, width 400ms;
    -moz-transition: left 400ms, width 400ms; /* Firefox 4 */
    -webkit-transition: left 400ms, width 400ms; /* Safari and Chrome */
    -o-transition: left 400ms, width 400ms; /* Opera */
}
#buttonselector2{
    left: 181px;
}
#buttonselector3{
    left: 362px;
}
#buttonselector4{
    left: 543px;
}
#buttonselector5{
    left: 724px;
}
nav:hover #buttonselector1{
    left: 89px;
    width: 0;
}
nav:hover #buttonselector2{
    left: 270px;
    width: 0;
}
nav:hover #buttonselector3{
    left: 451px;
    width: 0;
}
nav:hover #buttonselector4{
    left: 632px;
    width: 0;
}
nav:hover #buttonselector5{
    left: 813px;
    width: 0;
}
.button-nonselected:hover .buttonhighlight{
    left: 0;
    width: 179px;
}

.liftbox{
    position: relative;
    top: -388px;
    width: 451px;
    height: 340px;
}
.imglift{
    position: relative;
    top: 206px;
    left: 54px;
    z-index: 10;
}
.imgmen{
    position: relative;
    top: -16px;
    left: 106px;
    z-index: 5;
}
.speechbubble1{
    position: relative;
    top: -136px;
    left: -190px;
}
.speechbubble1:hover{
    position: relative;
    top: -138px;
    left: -192px;
    width: 80px;
    height: 91px;
}
.speechbubble2{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -124px;
    left: 30px;
    z-index: 20;
    visibility: hidden;
}
.speechbubble3{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: -124px;
    left: 30px;
    z-index: 20;
    visibility: hidden;
}
.speechbubbletext{
    position: absolute;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    font-size: 90%;
    z-index: 130;
    color: white;
    font-weight: bold;
    text-align: center;
    visibility: hidden;
}
#speechbubble2text{
    top: -116px;
    left: 30px;
}
#speechbubble3text{
    top: -108px;
    left: 30px;
}
.manarea{
    position: absolute;
    width: 54px;
    height: 110px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    border-top-left-radius: 27px;
    -moz-border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    -moz-border-top-right-radius: 27px;
}
#man2area{
    top: 120px;
    left: 188px;
}
#man3area{
    top: 120px;
    left: 270px;
}
#man2area:hover #speechbubble2text, #man2area:hover .speechbubble2, #man3area:hover #speechbubble3text, #man3area:hover .speechbubble3{
    visibility: visible;
}
.splash1{
    position: relative;
    left: 80px;
    top: -90px;
}
#splash1text{
    position: relative;
    width: 140px;
    left: 134px;
    top: 102px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 120%;
    z-index: 10;
}
.samplephotos1{
    position: relative;
    left: 20px;
    top: 60px;
    margin-bottom: 140px;
}
.smallsplash{
    margin-bottom: 20px;
}
.smallsplashpanel{
    margin-top: 40px;    
}
.smallsplashtextpanel{
    position: absolute;
    width: 430px;
    height: 550px;
    top: 100px;
    margin: auto;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 90%;
    z-index: 10;
}

.formbox{
    font-size: 95%;
    color: white;
    width: 280px;
    height: 490px;
    background: #939598;
    padding: 20px;
    margin-left: 40px;
    margin-top: 60px;
}
form{
    width: 400px;
    float: left;
    margin-top: 40px;
    font-size: 95%;
}
form input{
    width: 280px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: dimgray;
    margin-top: 8px;
    margin-bottom: 8px;
}
form textarea{
    width: 280px;
    height: 100px;
    max-width: 280px;
    max-height: 100px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: dimgray;
    margin-top: 8px;
}
.formbutton{
    width: 100px;
    margin-top: 12px;
    position: relative;
    left: 90px;
}






































